/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora&family=Montserrat:wght@300&display=swap');
body{
    background-color: #181719;
    color: white;
}

p, li{
    font-family: 'Montserrat', sans-serif;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
}