/* For mobile screens */

section{

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    
}

.hero-description{
    
}

.hero-description h1{
    font-size: 36px;
}

.hero-description p{
    font-size: 14px;
}

.read-more{
    font-size: 14px;
    font-weight: bold;
}

.hero-image{
    background: url("/assets/images/photo-1.png");
    margin: auto;
    min-width: 95vw;
    height: 40vh;
    
}

.author{
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background-color: #181719;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 250px;
    max-width: 400px;
    margin-left: 20px;
    padding: 20px;
}

.author-data{
    display: flex;

}

.author-data span{
    margin-left: 20px;
}

.author-data span >:first-child{
    font-size: 14px;
}

.author-data span >:last-child{
    font-size: 12px;
}

.author-data img{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 100px;
}

.author p{
    font-size: 18px;
    font-family: 'Lora', serif;;
}
/* For large screens */
@media only screen and (min-width: 600px) {

    
    .container{
       justify-content: space-between;
    }
    
    .hero-description{
        align-self: center; 
    }

    .hero-description h1{
        font-size: 48px;
    }

    .hero-description p{
        font-size: 24px;
    }

    .read-more{
        font-size: 18px;
    }

    .hero-image{
        border: 1px solid transparent;
        background: url("/assets/images/photo-2.png");
        min-width: 0;
        width: 700px;
        height: 527px;
        margin: 0;
        
    }

    .author{
        margin-top: 450px;
        max-width: 400px;
        margin-left: 230px;
    }

    .author p{
        font-size: 24px;
    }
}