<!--Hero section-->
<section>
    <div class="interior-desc">
        <div class="desc-title">
            <h1>Mordern Interior</h1>
        </div>

        <div class="desc-header">
            <p>A full-Service residential & 
            commercial interior design and staging company 
            offering professional organizing & eco-services</p>
        </div>

        <div class="desc-button">
            <P>Read more <span></span></P>
        </div>
    </div>

    <div class="interior-view">
        <div class="view">

        </div>
        <div class="author">
            <div class="author-bio">
                <img src="assets/images/charles-1.png" alt="">
                <div>
                    <h3>Charles Uthulor</h3>
                    <span>Frontend Developer</span>
                
                </div>
            </div>

            <div class="caption">
                <p>Developed in 2021 by Charles Uthulor</p>
            </div>
        </div>
    </div>
</section>