<!--Hero section-->
<section>
    <div class="container">
        <div class="hero-description">
            <h1>Mordern Interior</h1>
            <p>A full-Service residential & <br> 
            commercial interior design and <br> staging company 
            offering <br> professional organizing & <br> eco-services</p>
            <P class="read-more">Read more <span></span></P>
        </div>

        <div class="hero-image">
            <div class = "image">
                <div class="author">
                    <div class="author-data">
                        <img src="assets/images/charles-1.png" alt="">
                        <span>
                            <p>Charles Uthulor</p>
                            <p>Frontend Developer</p>
                        </span>
                    </div>
                    <p>Designed in 2020 by <br> Charles Uthulor</p>
                </div>
            </div>
        </div>
    </div>

</section>